* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', cursive;
}

/* Nav bar */
.score-container {
    float: left;
    padding: 5px;
}

.timer-container {
    float: right;
    padding: 5px;
}

#container {
    display: flex;
    background-color: rgb(218, 227, 247);
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    padding: 10px 30px;
    border: 3px solid #4e6ae6;
    border-radius: 5px;
    margin: 6px;
}

/* Quiz section */
body {
    background-color: rgb(214, 225, 248);
    margin: 20px;
}

#quiz-body {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: #4e6ae6;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    margin-top: 30px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #4e6ae6ad;
}

#quiz-container {
    text-align: center;
}